<div class="container">
    <form class="row g-2" action="/add-user" method="POST">      
      <div class="col-md-3">
          <label for="imageUrl" class="form-label">Image URL</label>
          <input type="text" name="imageUrl" id="imageUrl" class="form-control">
      </div>
      <div class="col-md-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input type="text" name="fullname" id="fullname" class="form-control">
      </div>
      <div class="col-md-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" id="username" class="form-control">
      </div>
      <div class="col-12">
        <button class="btn btn-secondary" type="submit">Add User</button>
      </div>
  </form>
  </div>