<form action="/delete-user" class="row" method="POST">
    <input type="hidden" name="userId" value="<%= user.id %>">
    <button class="btn btn-outline-secondary" type="submit">Remove User</button>    
</form>