<form action="/delete-item" class="row" method="POST">
    <input type="hidden" name="itemId" value="<%= item.id %>">
    <button class="btn btn-outline-secondary" type="submit">Delete Item</button>    
</form>